In [2]:
import pandas as pd

In [3]:
atenei_miur=pd.read_csv("data/raw_data/miur/ListaAteneiMUR.csv", sep=',')
ponte = pd.read_csv("ETL/TabellePonte/ponte_OA_MIUR_test", sep=';')
docenti_statali=pd.read_csv("data/raw_data/miur/ListaDOCENTI_AteneiStatali.csv", sep=';')
ponteMatch = pd.read_csv("ETL/Trasformazione/PonteMatchAtenei.csv")

In [4]:
joined = pd.merge(atenei_miur, ponte, on = 'NomeEsteso', how='left') 
joined

,_id,COD_Ateneo,NomeEsteso,NomeOperativo,status,Tipologia_ateneo_descrizione,Statale/NonStataleLibera,Indirizzo,COMUNE,PROVINCIA,REGIONE,Zona Geografica,URL,Classe dimensione,id_oa,ror
0,1,101,Università degli studi di Torino,Torino,Attivo,Università,Statale,"Via Verdi, 8",TORINO,TORINO,PIEMONTE,NORD-OVEST,www.unito.it,60.000 e oltre,NaN,NaN
1,2,102,Politecnico di Torino,Torino Politecnico,Attivo,Politecnico,Statale,"Corso Duca degli Abruzzi, 24",TORINO,TORINO,PIEMONTE,NORD-OVEST,www.polito.it,da 30.000 a 59.999,NaN,NaN
2,3,103,Istituto Superiore di Educazione Fisica di Torino,Torino ISEF,Non attivo,ISEF,Non Statale,NaN,TORINO,TORINO,PIEMONTE,NORD-OVEST,NaN,NaN,NaN,NaN
3,4,201,Università degli studi del Piemonte orientale ...,Piemonte Orientale,Attivo,Università,Statale,"Via Duomo, 6",VERCELLI,VERCELLI,PIEMONTE,NORD-OVEST,www.uniupo.it,da 10.000 a 19.999,NaN,NaN
4,5,401,Università di Scienze Gastronomiche,Bra - Scienze Gastronomiche,Attivo,Università,Non Statale,"P.zza Vittorio Emanuele, 9",BRA,CUNEO,PIEMONTE,NORD-OVEST,www.unisg.it,inferiore a 10.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,105,8301,Università degli Studi di Messina,Messina,Attivo,Università,Statale,"P.zza S. Pugliatti, 1",MESSINA,MESSINA,SICILIA,ISOLE,www.unime.it,da 20.000 a 29.999,NaN,NaN
105,106,8601,"Libera Università della Sicilia Centrale ""KORE...",Enna - KORE,Attivo,Università,Non Statale,"Via delle Olimpiadi, 4",ENNA,ENNA,SICILIA,ISOLE,www.unikore.it,inferiore a 10.000,NaN,NaN
106,107,8701,Università degli Studi di Catania,Catania,Attivo,Università,Statale,"P.zza dell'Universita',2",CATANIA,CATANIA,SICILIA,ISOLE,www.unict.it,da 30.000 a 59.999,NaN,NaN
107,108,9001,Università degli Studi di Sassari,Sassari,Attivo,Università,Statale,"P.zza dell'Universita', 21",SASSARI,SASSARI,SARDEGNA,ISOLE,www.uniss.it,da 10.000 a 19.999,NaN,NaN
108,109,9201,Università degli Studi di Cagliari,Cagliari,Attivo,Università,Statale,"Via Universita', 40",CAGLIARI,CAGLIARI,SARDEGNA,ISOLE,www.unica.it,da 20.000 a 29.999,NaN,NaN

In [5]:
joined2=pd.merge(joined, ponteMatch, left_on='NomeOperativo', right_on = 'NomeOperativo', how='left')
joined2

,_id,COD_Ateneo_x,NomeEsteso,NomeOperativo,status,Tipologia_ateneo_descrizione,Statale/NonStataleLibera,Indirizzo,COMUNE,PROVINCIA,REGIONE,Zona Geografica,URL,Classe dimensione,id_oa,ror,COD_Ateneo_y,NomeRubrica,Score
0,1,101,Università degli studi di Torino,Torino,Attivo,Università,Statale,"Via Verdi, 8",TORINO,TORINO,PIEMONTE,NORD-OVEST,www.unito.it,60.000 e oltre,NaN,NaN,101.0,TORINO,100.0
1,2,102,Politecnico di Torino,Torino Politecnico,Attivo,Politecnico,Statale,"Corso Duca degli Abruzzi, 24",TORINO,TORINO,PIEMONTE,NORD-OVEST,www.polito.it,da 30.000 a 59.999,NaN,NaN,102.0,Politecnico di TORINO,95.0
2,3,103,Istituto Superiore di Educazione Fisica di Torino,Torino ISEF,Non attivo,ISEF,Non Statale,NaN,TORINO,TORINO,PIEMONTE,NORD-OVEST,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,201,Università degli studi del Piemonte orientale ...,Piemonte Orientale,Attivo,Università,Statale,"Via Duomo, 6",VERCELLI,VERCELLI,PIEMONTE,NORD-OVEST,www.uniupo.it,da 10.000 a 19.999,NaN,NaN,201.0,PIEMONTE ORIENTALE,100.0
4,5,401,Università di Scienze Gastronomiche,Bra - Scienze Gastronomiche,Attivo,Università,Non Statale,"P.zza Vittorio Emanuele, 9",BRA,CUNEO,PIEMONTE,NORD-OVEST,www.unisg.it,inferiore a 10.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,105,8301,Università degli Studi di Messina,Messina,Attivo,Università,Statale,"P.zza S. Pugliatti, 1",MESSINA,MESSINA,SICILIA,ISOLE,www.unime.it,da 20.000 a 29.999,NaN,NaN,8301.0,MESSINA,100.0
109,106,8601,"Libera Università della Sicilia Centrale ""KORE...",Enna - KORE,Attivo,Università,Non Statale,"Via delle Olimpiadi, 4",ENNA,ENNA,SICILIA,ISOLE,www.unikore.it,inferiore a 10.000,NaN,NaN,NaN,NaN,NaN
110,107,8701,Università degli Studi di Catania,Catania,Attivo,Università,Statale,"P.zza dell'Universita',2",CATANIA,CATANIA,SICILIA,ISOLE,www.unict.it,da 30.000 a 59.999,NaN,NaN,8701.0,CATANIA,100.0
111,108,9001,Università degli Studi di Sassari,Sassari,Attivo,Università,Statale,"P.zza dell'Universita', 21",SASSARI,SASSARI,SARDEGNA,ISOLE,www.uniss.it,da 10.000 a 19.999,NaN,NaN,9001.0,SASSARI,100.0
112,109,9201,Università degli Studi di Cagliari,Cagliari,Attivo,Università,Statale,"Via Universita', 40",CAGLIARI,CAGLIARI,SARDEGNA,ISOLE,www.unica.it,da 20.000 a 29.999,NaN,NaN,9201.0,CAGLIARI,100.0

In [6]:
len(joined2) - sum(joined2['id_oa'].isna())
print()

In [7]:
joined2.columns

Index(['_id', 'COD_Ateneo_x', 'NomeEsteso', 'NomeOperativo', 'status',
       'Tipologia_ateneo_descrizione', 'Statale/NonStataleLibera', 'Indirizzo',
       'COMUNE', 'PROVINCIA', 'REGIONE', 'Zona Geografica', 'URL',
       'Classe dimensione', 'id_oa', 'ror', 'COD_Ateneo_y', 'NomeRubrica',
       'Score'],
      dtype='object')

In [8]:
enriched = joined2[['ror', 'id_oa', 'NomeEsteso', 'NomeOperativo', 'status', 'Tipologia_ateneo_descrizione', 'Statale/NonStataleLibera', 'Indirizzo', 'COMUNE', 'PROVINCIA', \
                   'REGIONE', 'Zona Geografica', 'URL', 'Classe dimensione', 'NomeRubrica']] 
enriched

,ror,id_oa,NomeEsteso,NomeOperativo,status,Tipologia_ateneo_descrizione,Statale/NonStataleLibera,Indirizzo,COMUNE,PROVINCIA,REGIONE,Zona Geografica,URL,Classe dimensione,NomeRubrica
0,NaN,NaN,Università degli studi di Torino,Torino,Attivo,Università,Statale,"Via Verdi, 8",TORINO,TORINO,PIEMONTE,NORD-OVEST,www.unito.it,60.000 e oltre,TORINO
1,NaN,NaN,Politecnico di Torino,Torino Politecnico,Attivo,Politecnico,Statale,"Corso Duca degli Abruzzi, 24",TORINO,TORINO,PIEMONTE,NORD-OVEST,www.polito.it,da 30.000 a 59.999,Politecnico di TORINO
2,NaN,NaN,Istituto Superiore di Educazione Fisica di Torino,Torino ISEF,Non attivo,ISEF,Non Statale,NaN,TORINO,TORINO,PIEMONTE,NORD-OVEST,NaN,NaN,NaN
3,NaN,NaN,Università degli studi del Piemonte orientale ...,Piemonte Orientale,Attivo,Università,Statale,"Via Duomo, 6",VERCELLI,VERCELLI,PIEMONTE,NORD-OVEST,www.uniupo.it,da 10.000 a 19.999,PIEMONTE ORIENTALE
4,NaN,NaN,Università di Scienze Gastronomiche,Bra - Scienze Gastronomiche,Attivo,Università,Non Statale,"P.zza Vittorio Emanuele, 9",BRA,CUNEO,PIEMONTE,NORD-OVEST,www.unisg.it,inferiore a 10.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,NaN,NaN,Università degli Studi di Messina,Messina,Attivo,Università,Statale,"P.zza S. Pugliatti, 1",MESSINA,MESSINA,SICILIA,ISOLE,www.unime.it,da 20.000 a 29.999,MESSINA
109,NaN,NaN,"Libera Università della Sicilia Centrale ""KORE...",Enna - KORE,Attivo,Università,Non Statale,"Via delle Olimpiadi, 4",ENNA,ENNA,SICILIA,ISOLE,www.unikore.it,inferiore a 10.000,NaN
110,NaN,NaN,Università degli Studi di Catania,Catania,Attivo,Università,Statale,"P.zza dell'Universita',2",CATANIA,CATANIA,SICILIA,ISOLE,www.unict.it,da 30.000 a 59.999,CATANIA
111,NaN,NaN,Università degli Studi di Sassari,Sassari,Attivo,Università,Statale,"P.zza dell'Universita', 21",SASSARI,SASSARI,SARDEGNA,ISOLE,www.uniss.it,da 10.000 a 19.999,SASSARI
112,NaN,NaN,Università degli Studi di Cagliari,Cagliari,Attivo,Università,Statale,"Via Universita', 40",CAGLIARI,CAGLIARI,SARDEGNA,ISOLE,www.unica.it,da 20.000 a 29.999,CAGLIARI

In [11]:
enriched.columns
enriched = enriched.rename(columns={"Tipologia_ateneo_descrizione":"Tipologia", "Statale/NonStataleLibera": "Statale", "Zona Geografica": "ZonaGeografica", "Classe dimensione":"ClasseDimensione"})

In [12]:
enriched.columns

Index(['ror', 'id_oa', 'NomeEsteso', 'NomeOperativo', 'status', 'Tipologia',
       'Statale', 'Indirizzo', 'COMUNE', 'PROVINCIA', 'REGIONE',
       'ZonaGeografica', 'URL', 'ClasseDimensione', 'NomeRubrica'],
      dtype='object')

In [13]:
enriched.to_csv("data/tabelle/AteneiEnriched.csv", index=False)

# Join per avere il ROR nella tabella rubrica

In [19]:
df1 = pd.read_csv("data/tabelle/ProfessoriPubbClean.csv")
df2 = pd.read_csv("data/tabelle/AteneiEnriched.csv")

df3 = pd.merge(df1, df2, left_on = "Ateneo",right_on="NomeRubrica", how="left")

df3.head(5).columns

Index(['id', 'Fascia', 'Cognome e Nome', 'Genere', 'Ateneo', 'Facoltà',
       'GSD 2024', 'SSD 2024', 'SSD 2015', 'SC 2015', 'Struttura di afferenza',
       'Servizio prestato in altro ateneo', 'ror', 'id_oa', 'NomeEsteso',
       'NomeOperativo', 'status', 'Tipologia', 'Statale', 'Indirizzo',
       'COMUNE', 'PROVINCIA', 'REGIONE', 'ZonaGeografica', 'URL',
       'ClasseDimensione', 'NomeRubrica'],
      dtype='object')

In [20]:
df3.to_csv("data/tabelle/RubricaMIURStatEnriched.csv", index=False)